{# Path: RedRudeBoy/HowManyBundle/Resources/views/Pages/HowManyCRUD.html.twig #}
{# TwigPath: RedRudeBoyHowManyBundle:Pages:HowManyCRUD.html.twig #}
{% set id, title, theme = 'HowManyCRUD', 'Create / edit HowMany', 'a' %}

{% extends 'RedRudeBoyHowManyBundle:MobileBase:MobileBasePage.html.twig' %}

{% block header %}
<a href="#HowManyLi" data-icon="back" data-iconpos="notext"></a>
<a href="#share" data-icon="star" class="ui-btn-right">Share</a>
{% endblock %}

{% block content %}
<div class="content-primary">
	<div data-inset="true">
		<h3>Congratulations!!!</h3>
	</div>
</div>
{% endblock %}