{# Path: RedRudeBoy/HowManyBundle/Resources/views/Pages/HowManyLi.html.twig #}
{# TwigPath: RedRudeBoyHowManyBundle:Pages:HowManyLi.html.twig #}
{% extends 'RedRudeBoyHowManyBundle:MobileBase:MobileBasePage.html.twig' %}

{#% include 'RedRudeBoyHowManyBundle:MobileBase:MobileBasePage.html.twig' with 
	{id: 'test', theme: 'a', title: 'HowManyLi'}
%#}

{% set id, title, theme = 'HowManyLi', 'HowMany List', 'a' %}


{% block header %}
<a href="#ProfilesLi" data-icon="home" data-direction="reverse">Profiles</a>
<a href="#HowManyConf" data-icon="gear" data-iconpos="notext" class="ui-btn-right"></a>
<div data-role="navbar" data-iconpos="left">
	<ul>
		<li><a href="#HowManyCRUD" data-icon="plus">New HowMany</a></li>
		<li><a href="#" id="howManyView">Change Order</a></li>
		<li><a href="#" id="howManyView">Filter</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
<div class="content-primary">
	<ul data-role="listview" data-inset="true" data-split-icon="gear">
		<li><a href="#HowManyView">
			<img src="images/album-bb.jpg" />
			<h3>Visitar l'àvia</h3>
			<p>Aprendràs molt!</p>
			<a href="#HowManyConf"></a>
		</a></li>
	</ul>
</div>
{% endblock %}