<br /><br /><br />
<div class="row"><div class="span12"><h1>Congratulations!</h1></div></div>
<br />
<div class="row">
	<div class="span6 offset3">
		<div>
			<legend>Notes / Description</legend>
			<textarea  class="span6 offset3" rows="3" placeholder="Notes"></textarea>
		</div>
		<small>Only if when is now</small>
		<a class="btn btn-block">00:00:01<br /><i class="icon-time icon-2x"></i><br />Until Now</a>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
		<h4>Congratulations:</h4>
		<ul>
			<li>Funny character (Polina Idea)</li>
			<li>Chinese Motivational Phrase</li>
			<li>Share it</li>
			<ul>
				<li>Send mail</li>
				<li>Social networks: Facebook, Twitter...</li>
			</ul>
			<li>Random entry in a RSS feed</li>
			<ul>
				<li>Humor: FinoFilipino...</li>
				<li>Internet "thing" (Read the mail, Pocket...)</li>
				<li>Specific: CoderFacts, Genbeta...</li>
			</ul>
			<li>Listen a song / Watch a video</li>
			<li>Take a photo</li>
		</ul>
	</div>
</div>