<div class="row">
	<h3 class="span8 offset2">Ja has fet:</h3>
	<h1 class="span8 offset2">Visitar l'àvia?</h1>
</div>

<div class="row" style="margin-top: 10px;">
	<div class="well span10 offset1">
		<legend>When?</legend>
		<div class="row-fluid">
			{{#linkTo 'HowMany.done' class="span12 btn btn-block"}}<i class="icon-ok icon-3x"></i><br />I just done it right now!{{/linkTo}}
		</div>
		<br />
		<div class="row-fluid" style="margin-top: 10px;">
			{{#view App.HowManyIndexNowBtnView}}<a class="span2 offset2 btn btn-block">I've done it in the past!</a>{{/view}}
			{{#linkTo 'HowMany.done' class="span2 btn btn-block"}}I'm gonna start doing it right now!{{/linkTo}}
			{{#linkTo 'HowMany.planning' class="span2 btn btn-block"}}I know when I will do it!{{/linkTo}}
			<!-- <i class="icon-calendar-empty"></i><br /> -->
			{{#linkTo 'HowMany.planner' class="span2 btn btn-block"}}I wanna do it!<br />Let's find a date!{{/linkTo}}
		</div>
		<legend style="display: none;margin-top: 15px;" id="HowManyIndexDateTimeLegend">Info</legend>
		<div class="row fuelux" id="HowManyIndexDateTime" style="display: none;">
			<small class="span1 offset1">Date:</small>
			<input type="date" class="span3" style="float: left;" />
			<small class="span1">Duration:</small>
			<div class="spinner span3" style="min-height: 30px;">
				<input type="text" class="input-mini spinner-input" maxlength="2" />
				<div class="spinner-buttons btn-group btn-group-vertical">
					<button class="btn spinner-up"><i class="icon-chevron-up"></i> </button>
					<button class="btn spinner-down"><i class="icon-chevron-down"></i> </button>
				</div>
				<small>Hour(s)</small>
			</div>
			{{#linkTo 'HowMany.done' class="span1 btn btn-block"}}OK{{/linkTo}}
		</div>
		<br />
		<br />
		<div class="row">
			<div class="span10">
				<legend>Wall</legend>
				<div class="well">
					<dl><!--class="dl-horizontal"-->
						<dt>Lenin:</dt>
						<dd>Booones bona gent!</dd>
						<dd>Com us aniria quedar avui per fer un Game Of Thrones?</dd>
						<dt>Dídac:</dt>
						<dd>A quina hora vols quedar?</dd>
						<dd>Saps que començarem tard...</dd>
						<dt>Dan:</dt>
						<dd>Sí</dd>
						<dt>Laia:</dt>
						<dd>Per mi sí</dd>
						<dt>Dídac:</dt>
						<dd>Quedem un altre dia amb més temps</dd>
						<dt>Lenin:</dt>
						<dd>Demà podré quedar a la mateixa hora que avui...</dd>
					</dl>
					<div class="row">
						<div class="span7">
							<input type="text" placeholder="New message..." style="width: 100%"/>
							<!--<textarea  class="span6" rows="3" placeholder="Notes"></textarea>-->
						</div>
						<button type="submit" class="btn span2">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<br />
<br />
<div class="row">
	<div class="well span10 offset1">
		<div class="span4">
			{{#linkTo 'HowManys.index' class="btn btn-block"}}<i class="icon-undo"></i> Return{{/linkTo}}
		</div>
		<div class="span4 offset1">
			{{#linkTo 'HowMany.edit' class="btn btn-block"}}<i class="icon-gear"></i> Edit{{/linkTo}}
		</div>
	</div>
</div>