<!-- HowManysUsers::start -->
<div class="row">
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-4x"></i><br />Ferran (7 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-4x"></i><br />Laia (5 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-4x"></i><br />TicTac (4 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-4x"></i><br />Guille (4 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Gina (3 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Sigrid (3 HM)</a></div>
</div>
<br /><br />
<div class="row">
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Dan (3 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Gala (3 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-2x"></i><br />Jaume (2 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-2x"></i><br />Marcel (2 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-2x"></i><br />Aina (2 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-2x"></i><br />Jan (2 HM)</a></div>
</div>
<br /><br />
<div class="row">
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-1x"></i><br />Lluisa (1 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-1x"></i><br />Manel (1 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-1x"></i><br />Josep (1 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-1x"></i><br />Teresa (1 HM)</a></div>
	<div class="span2"><a class="btn btn-block"><i class="icon-user icon-1x"></i><br />Nil (1 HM)</a></div>
</div>
<!-- HowManysUsers::end -->