[submodule "scripts/libs/fuelux"]
	path = scripts/libs/fuelux
	url = https://github.com/ExactTarget/fuelux.git
[submodule "scripts/libs/require-css"]
	path = scripts/libs/require-css
	url = https://github.com/guybedford/require-css.git
[submodule "scripts/libs/require-less"]
	path = scripts/libs/require-less
	url = https://github.com/guybedford/require-less.git
[submodule "scripts/libs/moment"]
	path = scripts/libs/moment
	url = https://github.com/moment/moment.git
[submodule "scripts/libs/ember-localstorage-adapter"]
	path = scripts/libs/ember-localstorage-adapter
	url = https://github.com/rpflorence/ember-localstorage-adapter.git
[submodule "scripts/libs/ember-handlebars-helpers"]
	path = scripts/libs/ember-handlebars-helpers
	url = https://github.com/RedRudeBoy/Ember-Handlebars-Helpers.git
[submodule "scripts/libs/ember-gapi-adapter"]
	path = scripts/libs/ember-gapi-adapter
	url = https://github.com/RedRudeBoy/ember-gapi-adapter.git
