{#
	Path: RedRudeBoy/HowManyBundle/Resources/views/MobileBasePage.html.twig
	TwigPath: RedRudeBoyHowManyBundle:MobileBasePage.html.twig

	Params:
id		- necessary
theme	- optional (by default 'a')
title	- optional (for header)

	Blocks:
header_pretitle	- inside MobileHeaderBase
header_postitle	- inside MobileHeaderBase
content
footer	- not for now
#}

{% if theme is not defined %}
{% set theme = 'a' %}
{% endif %}

<div data-role="page" id="{{ id }}" {# data-url="{{ id }}" #} >
	
	<div data-role="header" data-theme="{{ theme }}" data-position="inline" data-position="fixed">		
	{% if title is defined %}
		<h1>{{ title }}</h1>
	{% else %}
		<span class="ui-title" />
	{% endif %}
		
	{% block header %}
	{% endblock %}
	</div>
		
	<div data-role="content">
	{% block content %}
	{% endblock %}
	</div>
	
	{% block footer %}
	{% endblock %}
</div>