{{!-- app_p_browsehappy }}
{{> app_p_navbar }}
{{ partial browsehappy }}
{{ partial navbar --}}
<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			{{#linkTo 'HMListTags.default' classNames="brand"}}How Many{{/linkTo}}
		</div>
	</div>
</div>
<div class="container" style="margin-top: 50px;">
	{{outlet}}
</div>