<br />
<div class="row">
	<div class="span4">
		{{#view App.HMDoLoginView}}
			<!--Add a button for the user to click to initiate auth sequence -->
			<button class="btn btn-block" id="authorize-button"><i class="icon-ticket"></i> Login with google (useless)</button>
		{{/view}}
	</div>
	<div class="span4 text-center" id="info-panel">
	</div>
	<div class="span4">
		{{#linkTo 'HMListTags.bigIcons' classNames="btn btn-block" id="authorize-button"}}<i class="icon-th-large"></i> See the templates{{/linkTo}}
	</div>
</div>
<br />
<div class="hero-unit">
	<h1>Hi! Welcome to How Many!</h1>
	<p>How Many Days have been since I did... ~ How many days have passed since I did...</p>
	<p>I wanna do more! I wanna do everything I expect!<br />But... I never remember the important things...</p>
	<h2>Don't worry! HowMany is here to motivate you!!</h2>
	<a id="tuEstahBien" href="http://youtu.be/8HIFBYSCQRQ" data-toggle="tooltip" data-placement="top" target="_blank">Chiquillo Tu Estah Bien? Los estas? Porque lo quiero saber</a>
	<br />
	<p>Is simple... I gonna suggest the important things for you!!<br />but... How?</p>
	<h2>Showing the time since you did it since last time!!</h2>
	<p>Visit more your grandma...</p>
	<p>Go to gym more frequently...</p>
	<p>Smoke less than the last week...</p>
	<div class="well">
		<h4>Important: This is a motivating webapp, use it well and be honest with yourself!</h4>
	</div>
	<a id="esBuenaPaTi" href="http://youtu.be/w_hVfwU0M8w" data-toggle="tooltip" data-placement="top" target="_blank">Es Buena Pa Ti, Pa Tu Cuerpo, Pa Tóh</a>
</div>
<br />
<div class="well well-large well-transparent">
	<i class="icon-warning-sign icon-4x pull-left"></i> 
	<small>This app is under heavy developement, still remains a lot of work to do, but...</small>
	<h4 class="inline">Wait for it! This is going to be:</h4>
	<center>
		<img src="http://data.whicdn.com/images/49707501/tumblr_mfhy5nxJJ21r5kmbwo1_500_large.jpg" class="img-rounded" style="max-height: 350px;" />
	</center>
</div>
<br />
<br />