<div class="row"><div class="span12"><h1>HMNotifications!</h1></div></div>
<br />
<div class="row">
	<div class="span6 offset3">
		<h5>Mihoko do "Visitar l'àvia", you too?</h5>
		<h5>Mihoko do "Visitar l'àvia", you too?</h5>
		<h5>Mihoko do "Visitar l'àvia", you too?</h5>
	</div>
</div>