<!-- HowManysToolbar::start -->
<div class="row how-manys-toolbar">
	<div class="span5 how-manys-toolbar-filters" style="background-color: #eee">
		<div class="row">
			<div class="span5 text-center"><span><i class="icon-filter"></i> Filters</span></div>
		</div>
		<center class="row">
			<div class="span5 btn-group how-manys-toolbar-filters-btn-group">
				<div class="input-prepend inline" style="margin-bottom:0px;width: 35%;">
					<span class="add-on"><i class="icon-search"></i></span>
					<input class="span2" type="text" placeholder="Search" style="-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;" />
				</div>
				<!-- exclamation on click check-empty -->
				{{#linkTo 'HowManys.index' classNames="btn"}}<i class="icon-check"></i> Pending{{/linkTo}}
				{{#linkTo 'HowManys.index' classNames="btn"}}<i class="icon-share"></i> Shared{{/linkTo}}
				{{#linkTo 'HowManys.index' classNames="btn"}}<i class="icon-unchecked"></i> All{{/linkTo}}
			</div>
		</center>
	</div>
	<div class="span2 how-manys-toolbar-new">
		{{!--<div class="btn btn-block" {{action "createHowMany"}}><i class="icon-plus"></i><br />New How Many</div>--}}
		{{#linkTo 'HowManyNew' classNames="btn btn-block"}}<i class="icon-plus"></i><br />New How Many{{/linkTo}}
	</div>
	<div class="span5 how-manys-toolbar-views" style="background-color: #eee">
		<div class="row">
			<div class="span5 text-center"><span><i class="icon-eye-open"></i> Categories</span></div>
		</div>
		<center class="row">
			<div class="span5 btn-group how-manys-toolbar-views-btn-group">
				{{#linkTo 'HowManys.BigIcons' classNames="btn"}}<i class="icon-th-large"></i> Big Icons{{/linkTo}}
				{{#linkTo 'HowManys.WindRose' classNames="btn"}}<i class="icon-compass"></i> Wind Rose{{/linkTo}}
				{{#linkTo 'HowManys.Users' classNames="btn"}}<i class="icon-group"></i> Users{{/linkTo}}
				{{#linkTo 'HowManys.History' classNames="btn"}}<i class="icon-bar-chart"></i> History{{/linkTo}}
			</div>
		</center>
	</div>
</div>