<div class="row"><div class="span12"><h1>HMConfiguration!</h1></div></div>
<br />
<div class="row">
	<div class="span6 offset3">
		<ul>
			<li>User Name, Image</li>
			<li>Location</li>
			<li>Theme</li>
			<li>Language</li>
		</ul>
	</div>
</div>