.nav-tabs {
	margin-bottom: 0px;
	border-bottom: 1px solid #777;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
	border: 1px solid #777;
	border-bottom-color: transparent;
}
.nav-tabs>li>a {
	border: 1px solid #eee;
	border-bottom-color: transparent;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border-color: #777 #777 transparent;
}
.nav-tabs>li>a:not([.action]):hover, .nav-tabs>li>a:not([.action]):focus {
	background-color: #eee;
}
.nav-tabs>.private>a {
	margin-left: 20px;
	background-color: lightgray;
	/*border-bottom: transparent;*/
}
.nav-tabs>.private>a:hover, .nav-tabs>.private>a:focus {
	background-color: gray;
}
.nav-tabs>.action {
	float: right;
}
/*.nav-tabs>.action>a {
	line-height: 14px;
}*/
.nav>.action>.btn-danger:hover, .nav>.action>.btn-danger:focus, .nav>.action>.btn-danger:active {
	background-color: #bd362f;
}
.nav>.action>.btn-warning:hover, .nav>.action>.btn-warning:focus, .nav>.action>.btn-warning:active {
	background-color: #f89406;
}
.nav>.action>.btn-success:hover, .nav>.action>.btn-success:focus, .nav>.action>.btn-success:active {
	background-color: #51a351;;
}

#tabbable-legend {
	margin-bottom: 5px;
	text-align: center;
	color: #999;
	*zoom: 1;
}
#tabbable-legend:before,
#tabbable-legend:after {
	display: table;
	line-height: 0;
	content: "";
}
#tabbable-legend:after {
	clear: both;
}
#tabbable-legend > * {
	float:left;
	border-left: 1px solid #999;border-right: 1px solid #999;border-top: 1px solid #999;
	padding-top: 5px;
}
#tabbable-legend-shared {
	width: 248px;
}
#tabbable-legend-private {
	margin-left: 23px;
	width: 146px;
}
#tabbable-legend-action {
	float: right;
	width: 254px;
	margin-right: 3px;
}
/**
Default media:
@media (max-width: 480px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 979px) {}
@media (min-width: 980px) {}
@media (min-width: 1200px) {}
*/
@media (min-width: 767px) {
	.HowManyEditActionsToolbar {
		display: none;
	}
}
@media (max-width: 767px) {
	#tabbable-legend-action, .nav-tabs>.action {
		display: none;
	}
	#tabbable-legend-private, .nav-tabs>.private {
		float: right;
	}
	#tabbable-legend-private {
		margin-right: 3px;
	}
}
@media (min-width: 495px) {
	.nav-tabs .min {
		display: none;
	}
}
@media (max-width: 495px) {
	#tabbable-legend {
		display: none;
	}
	.nav-tabs .normal {
		display: none;
	}
}
@media (max-width: 320px) {
	.nav-tabs>li>a {
		max-width: 25px;
	}
}

.tab-content {
	padding: 15px;border-left: 1px solid #777;border-right: 1px solid #777;border-bottom: 1px solid #777;
}
.tab-content .tab-pane .media {
	min-height: 250px;
}
.tab-content .tab-pane .media-object-container {
	margin: 25px;
}
.tab-content .tab-pane .media-body {
	margin: 25px
}

#HowManyEditBasic .media-body > .media-heading {
	/*Simula h3*/
	font-size: 24.5px;line-height: 40px;font-weight: bold;height: 40px;
}
#HowManyEditBasic .media-body > .media-description {
	/*Simula h5*/
	font-size: 14px;line-height: 20px;font-weight: bold;
}


#HowManyEditTags .HowManyEditTag {
	width: 220px;height: 220px; background-color: #eee;
}
#HowManyEditTags .HowManyEditTag p {
	position: relative; top: -125px;left: 95px;
}

#HowManyEditPeriodicity .btn-very-easy {
	background-color: #B9FFCC;
	background-image: linear-gradient(#B9FFCC, #A9F5BC);
/*	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	border-color: #f89406 #f89406 #ad6704;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
}
#HowManyEditPeriodicity .btn-very-easy:hover,
#HowManyEditPeriodicity .btn-very-easy:focus,
#HowManyEditPeriodicity .btn-very-easy:active,
#HowManyEditPeriodicity .btn-very-easy.active,
#HowManyEditPeriodicity .btn-very-easy.disabled,
#HowManyEditPeriodicity .btn-very-easy[disabled] {
  background-color: #A9F5BC;
}
#HowManyEditPeriodicity .btn-easy {
	background-color: #D0F5A9;
	background-image: linear-gradient(#D0F5A9, #C0E599);
}
#HowManyEditPeriodicity .btn-easy:hover,
#HowManyEditPeriodicity .btn-easy:focus,
#HowManyEditPeriodicity .btn-easy:active,
#HowManyEditPeriodicity .btn-easy.active,
#HowManyEditPeriodicity .btn-easy.disabled,
#HowManyEditPeriodicity .btn-easy[disabled] {
  background-color: #C0E599;
}
#HowManyEditPeriodicity .btn-medium {
	background-color: #F2F5A9;
	background-image: linear-gradient(#F2F5A9, #E2E599);
}
#HowManyEditPeriodicity .btn-medium:hover,
#HowManyEditPeriodicity .btn-medium:focus,
#HowManyEditPeriodicity .btn-medium:active,
#HowManyEditPeriodicity .btn-medium.active,
#HowManyEditPeriodicity .btn-medium.disabled,
#HowManyEditPeriodicity .btn-medium[disabled] {
  background-color: #E2E599;
}
#HowManyEditPeriodicity .btn-difficult {
	/*F5D0A9*/
	background-color: #F3F781;
	background-image: linear-gradient(#F3F781, #F5DA81);
}
#HowManyEditPeriodicity .btn-difficult:hover,
#HowManyEditPeriodicity .btn-difficult:focus,
#HowManyEditPeriodicity .btn-difficult:active,
#HowManyEditPeriodicity .btn-difficult.active,
#HowManyEditPeriodicity .btn-difficult.disabled,
#HowManyEditPeriodicity .btn-difficult[disabled] {
  background-color: #F5DA81;
}
#HowManyEditPeriodicity .btn-very-difficult {
	/*border-color: red; color: red; FA8258*/
	background-color: #FA8258;
	background-image: linear-gradient(#FA8258, #FA5858);
}
#HowManyEditPeriodicity .btn-very-difficult:hover,
#HowManyEditPeriodicity .btn-very-difficult:focus,
#HowManyEditPeriodicity .btn-very-difficult:active,
#HowManyEditPeriodicity .btn-very-difficult.active,
#HowManyEditPeriodicity .btn-very-difficult.disabled,
#HowManyEditPeriodicity .btn-very-difficult[disabled] {
  background-color: #FA5858;
}
#HowManyEditPeriodicity .row-fluid center {
	margin-left: 0px;
}







.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent; 
	
	border-right:25px solid green; 
	
	margin-right: -1px;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	
	border-left: 25px solid red;
}
.arrow-body {
	width: 94%;
	background-color: blue;
	height: 25px;
	margin-top: 12px;
	margin-left: 1px;
}


/**
 * Styles from FuelUX
 */
.fuelux .combobox {
  display: inline-block;
}

.fuelux .combobox a {
  font-size: 14px;
}

.fuelux .combobox button.btn {
  border-radius: 0 4px 4px 0;
}