{# Path: RedRudeBoy/HowManyBundle/Resources/views/layout.html.twig #}
{# TwigPath: RedRudeBoyHowManyBundle::layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/RedRudeBoyHowManyBundle/css/demo.css') }}" type="text/css" media="all" />
        <title>{% block title %}How Many Logins...{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="symfony-wrapper">
            {% if app.session.flash('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ app.session.flash('notice') }}
                </div>
            {% endif %}

            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
