<div class="row"><div class="span12"><h3>Configuration</h3></div></div>
<br />

<div class="media img-rounded">
	<div class="media-object-container pull-left">
		<!-- https://es.gravatar.com/site/implement/images/
			md5( strtolower( trim( "MyEmailAddress@example.com " ) ) );
		<img class="media-object pull-left img-rounded" src="http://www.gravatar.com/avatar/12341234?d=wavatar&r=x&s=35&f=y" /> -->
		<img class="media-object img-rounded" src="img/uploads/Familia.png">
	</div>
	<div class="media-body">
		<div class="row-fluid">
			<div class="span3">
				<small>Username:</small>
				<h3 class="media-heading">Lenin Gols</h3>
			</div>
			<div class="span3">
				<small>Location:</small>
				<h5 class="media-description">{{location}}</h5>
			</div>
			<div class="span3">
				<small>Language:</small>
				<h5 class="media-description">{{language}}</h5>
			</div>
			<div class="span3">
				<small>Theme:</small>
				<h5 class="media-description">{{theme}}</h5>
			</div>
		</div>
	</div>
</div>