<div id="HMListTagsUsers">
	<div class="row">
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Gala</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Gina</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Sigrid</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Ferran</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />TicTac</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Guille</a></div>
	</div>
	<br /><br />
	<div class="row">
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Jaume</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Dan</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Marcel</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Laia</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Jan</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Lenin</a></div>
	</div>
	<br /><br />
	<div class="row">
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Aina</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Lluisa</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Manel</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Josep</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Teresa</a></div>
		<div class="span2"><a class="btn btn-block"><i class="icon-user icon-3x"></i><br />Nil</a></div>
	</div>
</div>