<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container clearfix">
			<!-- Mini-menu for small windows -->
			<a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
				<!-- Number of lines -->
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			{{#linkTo 'HMList' classNames="brand"}}How Many{{/linkTo}}

			<!-- Always visible: HowMany Home & Notifications -->
			<div class="btn-toolbar pull-left" id="HMNavbarToolbar">
				<div class="btn-group">
					{{#linkTo 'HMListTags.default' classNames="btn"}}<i class="icon-th"></i> Categories{{/linkTo}}
					<!--	other icon list: -list -th -th-list -th-large -align-justify -tasks -->
					{{!--#linkTo 'HMList' classNames="btn"}}<i class="icon-list"></i> List{{/linkTo--}}
					{{#linkTo 'HMNotifications' classNames="btn"}}<i class="icon-info-sign"></i> <span class="badge badge-success">2</span>{{/linkTo}}
				</div>
			</div>


			<!-- Menu collapsible: User Info, Conf, Report, Wizar & Credits -->
			<div class="nav-collapse collapse" id="HMNavbarUserInfo">
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">
							<!-- User Info -->
							<div class="media pull-left">
								<!-- https://es.gravatar.com/site/implement/images/
									md5( strtolower( trim( "MyEmailAddress@example.com " ) ) ); -->
								<!-- Additional radius class: img-rounded img-circle img-polaroid -->
								<img class="media-object pull-left img-rounded" src="http://www.gravatar.com/avatar/12341234?d=wavatar&r=x&s=35&f=y" />
								<div class="media-body pull-right">
									<h5 class="media-heading">Lenin Gols</h5>
								</div>

							</div>
							<b class="caret pull-right"></b>
						</a>
						<!-- Conf, Report, Wizar & Credits -->
						<ul role="menu" class="dropdown-menu pull-right">
							<li role="menuitem">
								{{#linkTo 'HMReport'}}<i class="icon-tasks"></i> Report{{/linkTo}}
							</li>
							<li class="divider"></li>
							<li role="menuitem">
								{{#linkTo 'HMWizard'}}<i class="icon-magic"></i> Wizard{{/linkTo}}
							</li>
							<li class="divider"></li>
							<li role="menuitem">
								<!-- other icons: -pencil -wrench -gear -->
								{{#linkTo 'HMConfiguration'}}<i class="icon-gears"></i> Configuration{{/linkTo}}
							</li>
							<li class="divider"></li>
							<li role="menuitem">
								{{#linkTo 'HMCredits'}}<i class="icon-linux"></i> Credits{{/linkTo}}
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>