<div class="row"><div class="span11"><h1>Welcome to HowMany!</h1></div></div>
<br />
<div class="row">
	<div class="span10 offset1">
		<legend>Què és un <i>HowMany</i>?</legend>
		<h4>Un <i>HowMany</i> és una tasca a fer, sense data concreta, però que s'ha de fer amb una regularitat</h4>
		<p>I així mostrar-te <b>quan temps fa que no ho fas</b></p>
	</div>
</div>
<br />
<div class="row">
	<div class="span10 offset1">
		<legend>Recomanacions d'ús:</legend>
		<h4>Afegeix <i>HowMany's</i> només per coses que necessitis millorar</h4>
		<p>Està pensat per events que s'hagin de fer com a màxim un cop al dia.
			No és una aplicació per estar-ne tot el dia pendent, sinó per aquelles coses que pots oblidar quan temps fa que ho has fet.</p>
	</div>
</div>
<br />
<div class="row">
	<div class="span10 offset1">
		<legend>Suggeridor:</legend>
		<h4>A continuació se't faràn unes quantes preguntes per suggerir-te <i>HowMany's</i></h4>
		<p>Cap de les teves respostes serà guardada ni enviada enlloc</p>
	</div>
</div>