<!-- HowManysHistory::start -->
<br /><br /><br />
<div class="row">
	<center class="span12">
		{{#linkTo 'HowManys.index'}}<img src="docs/HowManyHomeHistory.png" />{{/linkTo}}
	</center>
</div>
<!-- HowManysHistory::end -->